.action-buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .retry-button {
    padding: 15px 32px;
    border-radius: 20%;
    background-color: pink;
    border: none;
    cursor: pointer;
    font-family: cursive;
  }

  .retry-button:hover{
    background-color: rgb(253, 174, 158);
  }
  
  .choice-form {
    display: inline;
  }
  
  .choice-button {
    padding: 15px 32px;
    border-radius: 20%;
    background-color: rgb(255, 191, 249);
    border: none;
    cursor: pointer;
    font-family: cursive;
  }
  
  .choice-button:hover {
    background-color: rgb(253, 174, 158);;
  }