<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Choosi</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/play.css" />
  </head>
  <body>
    <header>
      <h1>Choosi</h1>
      <nav>
        <menu>
          <a href="index.html">Home</a><br/>
          <a href="favorites.html">Favorites</a>
        </menu>
      </nav>
    </header>
    <main>
      <h1>Generator</h1>
      <img src="images/wheel.png" alt="clouds" width="450" height="300" /><br />

      <div class="actions">
      <button class="retry-button" type="button">Let's try again!</button>
    
      <form method="get" action="favorites.html" class="choice-form">
        <button class="choice-button" type="submit">Good Choice!</button>
      </form>
      </div>

    </main>
    <footer class="footer">
      <p>Logged in as: [username]</p>
      <span class="test-reset">Source</span><br />
      <a href="https://github.com/elevatedMinds/Web-Programming"
        >Github - Jessica Braithwaite</a>
    </footer>
  </body>
</html>
