body {
    background-color: rgb(254, 239, 212);
    text-align: center;
    font-family: cursive;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background-color: pink;
    display: flex;
    flex: 0 80px;
}

header h1{
    padding-right: 20%;
    text-align: left;
    font-family: cursive;
}

nav {
    overflow: hidden;
    padding-left: 80%;
    position: absolute;
    top: 8px;
    right: 16px;
    text-align: center;
    font-family: serif;
}

.welcome {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a:hover {
    color: purple;
}

a:visited {
    color: rgb(88, 20, 20);
    text-decoration-color: red;
}

.icon {
    font-size: 25px;
}

.login-field{
    padding: 8px;
}

.buttons{
    display: flex;
    padding: 18px;
    gap: 10px;
    justify-content: center;
}

.login-button{
    padding: 15px 32px;
    border-radius: 15%;
    background-color: rgb(198, 197, 197);
    border: none;
    cursor: pointer;
    font-family: cursive;
}

.login-button:hover{
    background-color: rgb(255, 192, 232);
}

.footer{
    background-color: pink;
    padding: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}