/*icon on tab*/
body {
    background-color: rgb(255, 245, 228);
    text-align: center;
    font-family: cursive;
}

/*box padding for space between header and main*/
header{
    border: dashed;
}
header h1{
    padding-right: 20%;
    text-align: left;
    font-family: cursive;
}

/*right text box, center*/
nav {
    padding-left: 80%;
    position: absolute;
    top: 0px;
    text-align: center;
    font-family: serif;
}

main {
    border: dashed;
    padding: 2em;
}
